@model WebApp1._0.Models.DBContext
@{
    ViewBag.Title = "Zone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}
<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-blue">
                            <span class="widget-caption">Zone Form</span>
                        </div>
                        <div class="widget-body">
                            <div id="registration-form">
                                <!--<div class="form-title">User Information</div>-->
                                @using (Html.BeginForm("SaveZone", "Zone", FormMethod.Post))
                                {
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form=group">
                                                <span class="input-icon icon-right">
                                                    <select id="ref_corporateid" name="ref_corporateid" style="width:100%;" required>
                                                        <option value="" />Select Corporate
                                                        @foreach (var corp in Model.obj_corporate)
                                                        {
                                                            <option value="@corp.corporateid">@corp.corporatename</option>
                                                        }
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="input-icon icon-right">
                                                    <input type="text" class="form-control" placeholder="Zone Code" name="zonecode" id="zonecode" required>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="input-icon icon-right">
                                                    <input type="text" class="form-control" placeholder="Zone Name" name="zonename" id="zonename" required>
                                                </span>
                                            </div>
                                        </div>   
                                    </div>
                                    <hr class="wide" />
                                    <input type="hidden" name="zoneid" id="zoneid" value="" />
                                    <input type="submit" class="btn btn-success" id="zoneId" value="Submit" name="Submit" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="widget">
                        <div class="widget-header widget-header bg-blue">
                            <span class="widget-caption">Zones List</span>
                            <div class="widget-buttons">
                                <a href="#" data-toggle="maximize">
                                </a>
                                <a href="#" data-toggle="collapse">
                                </a>
                                <a href="#" data-toggle="dispose">
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <table class="table table-striped table-bordered table-hover" id="simpledatatable">
                                <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>Zone Code</th>
                                        <th>Zone Name</th>
                                        <th>Corporate Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var row in Model.obj_zoneResult)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@row.zonecode</td>
                                            <td>@row.zonename</td>
                                            <td>@row.corporatename</td>
                                            <td>
                                                <a class="btn btn-info btn-xs edit" title="Edit" onclick="editZone(@row.zoneid);"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-danger btn-xs delete" title="Delete" onclick="deleteZone(@row.zoneid);"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var message = '@Model.usermessage';
        if (message != null && message != "") {
            alert(message);
        }
    });
    function editZone(id) {
        $.ajax({
            type: "post",
            url: '@Url.Action("EditZone", "Zone")',
            data: { id: id },
            datatype: "json",
            success: function (data) {
                if (data.obj_zone != '') {
                    $('#zoneId').attr('value', 'Update');
                    $.each(data.obj_zone, function (key, value) {
                        $("#zoneid").val(value.zoneid);
                        $("#zonename").val(value.zonename);
                        $("#zonecode").val(value.zonecode);
                        $("#ref_corporateid option[value='" + value.ref_corporateid + "']").attr("selected", "selected");
                    });

                }
            }
        });
    }
    function deleteZone(id)
    {
        alert("Do you really want to delete this record ?")
        $.ajax({
            type: "post",
            url: '@Url.Action("DeleteZone", "Zone")',
            data: { id: id },
            datatype: "json",
            success: function (data) {
                alert("Record successfully deleted");
                location.reload();
            }
        });
    }
</script>

