@model WebApp1._0.Models.DBContext
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-blue">
                            <span class="widget-caption">Sub-Division Form</span>
                        </div>
                        <div class="widget-body">
                            <div id="registration-form">
                                <!--<div class="form-title">User Information</div>-->
                                @using (Html.BeginForm("SaveSubDiv", "SubDiv", FormMethod.Post))
                                {
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form=group">
                                                <span class="input-icon icon-right">
                                                    <select id="ref_divisionid" name="ref_divisionid" style="width:100%;" required>
                                                        <option value="" />Select Division
                                                        @foreach (var div in @Model.obj_divResult)
                                                        {
                                                            <option value="@div.divisionid">@div.divisionname</option>
                                                        }
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="input-icon icon-right">
                                                    <input type="text" class="form-control" placeholder="Sub-Division Code" name="subdivisioncode" id="subdivisioncode" required>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <span class="input-icon icon-right">
                                                    <input type="text" class="form-control" placeholder="Sub-Division Name" name="subdivisionname" id="subdivisionname" required>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="wide" />
                                    <input type="hidden" name="subdivisionid" id="subdivisionid" value="" />
                                    <input type="submit" class="btn btn-success" id="subdiv" value="Submit" name="Submit" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="widget">
                        <div class="widget-header widget-header bg-blue">
                            <span class="widget-caption">Sub-Divisions List</span>
                            <div class="widget-buttons">
                                <a href="#" data-toggle="maximize">
                                </a>
                                <a href="#" data-toggle="collapse">
                                </a>
                                <a href="#" data-toggle="dispose">
                                </a>
                            </div>
                        </div>
                        <div class="widget-body">
                            <table class="table table-striped table-bordered table-hover" id="simpledatatable">
                                <thead>
                                    <tr>
                                        <th>Sl No.</th>
                                        <th>Division Name</th>
                                        <th>Sub-Div Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   @foreach (var rows in Model.obj_subdivResult)
                                   {
                                    <tr>
                                        <td>@i</td>
                                        <td>@rows.divisionname</td>
                                        <td>@rows.subdivisionname</td>
                                        <td>
                                            <a class="btn btn-info btn-xs edit" title="Edit" onclick="editSubDiv(@rows.subdivisionid);"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger btn-xs delete" title="Delete" onclick="deleteSubDiv(@rows.subdivisionid);"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                       i++;
                                   }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var message = '@Model.usermessage';
        if (message != null && message != "") {
            alert(message);
        }
    });
    function editSubDiv(id) {
        $.ajax({
            type: "post",
            url: '@Url.Action("EditSubDiv", "SubDiv")',
            data: { id: id },
            datatype: "json",
            success: function (data) {
                if (data.obj_sdiv != '') {
                    $('#subdiv').attr('value', 'Update');
                    $.each(data.obj_sdiv, function (key, value) {
                        $("#subdivisionid").val(value.subdivisionid);
                        $("#subdivisionname").val(value.subdivisionname);
                        $("#subdivisioncode").val(value.subdivisioncode);
                        $("#ref_divisionid option[value='" + value.ref_divisionid + "']").attr("selected", "selected");
                    });

                }
            }
        });
    }

    function deleteSubDiv(id)
    {
        alert("Do you really want to delete this record ?")
        $.ajax({
            type: "post",
            url: '@Url.Action("DeleteSubDiv", "SubDiv")',
            data: { id: id },
            datatype: "json",
            success: function (data) {
                alert("Record successfully deleted");
                location.reload();
            }
        });
    }
</script>
